.post-area {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.title {
    color: #292524;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #292524;
    line-height: 1;
    margin-top: 6px;
}

/* TEXT */
.text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.text-box,
button,
.link {
    margin: 5px;
}

textarea {
    width: 600px;
    height: 200px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 32px;
    color: #292524;
    background: #e5e5e5;
    font-size: 12px;
    line-height: 1.3;
    overflow: hidden;
}

textarea:focus {
    outline: none;
    border: none;
}

/* BUTTON */

.btn-submit {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #F8F9FA;
    font-weight: bold;
    width: 120px;
    border: none;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    transition: 0.3s;
}

.btn-submit:hover {
    transform: scale(110%);
    color: #F8F9FA;
}

/* LINK */
a {
    text-decoration: none;
    color: #737373;
    ;
}