.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-register-heading {
    margin-bottom: 1.5rem;
}

.form-register {
    max-width: 450px;
    padding: 30px 35px 45px;
    margin: 0 auto;
    background-color: #F8F9FA;
    border: none;
    border-radius: 20px;

    .label-container {
        text-align: left;
        margin-bottom: 12px;
    }

    .form-control {
        position: relative;
        margin-bottom: 18px;
        font-size: 16px;
        height: auto;
        padding: 10px;
        @include box-sizing(border-box);

        &:focus {
            z-index: 2;
        }
    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.form-register .btn-submit {
    margin-top: 10px;
    color: #F8F9FA;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    transition: 0.3s;
}

.form-register .btn-submit:hover {
    transform: scale(110%);
}