.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}


.title {
    color: #292524;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #292524;
    line-height: 1;
    margin-top: 6px;
}

.review {
    font-size: 20px;
    line-height: 1.4;
    color: #292524;
    background-color: #F8F9FA;
    margin-bottom: 16px;
    padding: 16px 24px;
    letter-spacing: -1px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add-review-btn {
    line-height: 1;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    padding: 16px 0 13px;
    border: none;
    color: #fafaf9;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.add-review-btn:hover {
    border: none;
    transform: scale(110%);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

.edit-delete-btn {
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 10px 10px;
    border: none;
    border-radius: 100px;
    color: #fafaf9;
    cursor: pointer;
    transition: 0.3s;
    background-color: #292524;
    text-align: center;
    margin: 10px; /* Adjusted for multiple buttons */
    display: block;
  }
  
  .edit-delete-btn:hover {
    border: none;
    background-color: #F8F9FA;
    color: #292524;
    transform: scale(1.1);
  }
  
  .clickable-author {
    cursor: pointer;
    color: #0645AD;
    text-decoration: underline;
  }
  
  .clickable-author:hover {
    color: #0558B2;
    text-decoration: none;
    cursor: pointer;
  }
  